html body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
    position: relative;

    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    width: 90vw;

    position: absolute;
    top: 5vh;
    left: 5vw;
}

.blockHolder {
    width: 99%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    border: 2px solid black;
    justify-content: space-around;

    border-radius: 15px;
    box-shadow: #3d3b3b 0 0 10px 5px;
}

.subBlock {
    width: 100%;
    height: fit-content;

    display: flex;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    box-sizing: border-box;
    padding: 15px;
}

.messageHolder {
    width: 100%;
    height: 50px;

    font-size: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subElementHolderLeft {
    width: 100%;
    height: 45px;

    display: flex;
    justify-content: flex-end;
    text-align: right;
    align-items: center;
}

.subElementHolderRight {
    width: 100%;
    height: 45px;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

input {
    width: 95%;
    height: 60%;
    border-radius: 7px;
    border: 1px solid black;
}

input:active, :focus {
    outline: none;
}

textarea {
    width: 95%;
    height: 85%;

    border-radius: 7px;
    border: 1px solid black;
}

textarea:active, :focus {
    outline: none;
}

#executeButton {
    height: 100%;
    background: aqua;

    border: none;
    outline: none;
    border-radius: 7px;
    box-shadow: #3d3b3b 0 0 10px 5px;

    cursor: pointer;
    padding: 0 20px;

    font-size: 30px;
}

#executeButton:disabled {
    cursor: not-allowed;
    background: #215e5e;
}
